<link rel="stylesheet" href="styleach.css">
<body style="background-color: #FF1CF;">
  <div class="top">
    <br>
    <h2><u>Achievements</u></h2>
    <br>
  </div>

  <div class="middle">
  <br>
  <h3>In School Life</h3>
  <ul>
  <li>
  <p><strong>Portfolio </strong></p>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr bgcolor="lightgrey">
      <th>Sr. No.</th>
      <th>Designation</th>
      <th>Time Period</th>
    </tr>
    <tr>
      <td>1.</td>
      <td>Dy. Descipline I/C</td>
      <td>August 2017-June 2018</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Head Boy</td>
      <td>June 2018- February 2019</td>
    </tr>
  </table>
  </li>
    </ul>
  <br>
  <h3><b>Internships</b></h3>
  <ul>
    <li> Completed "Go green campaign" by <a href="https://www.indiaredefined.org/"> India Redefined</a></li>
  </ul>
  <h3><b>Webminars</b></h3>
  <ul>
    <li> Completed "Web Development" by <a href="https://www.scaler.com/">Scaler Acedemy</a></li>
  </ul>
  <hr style=" border-color: #424874; width: 20%; border-style: none; height: 1px; border-top-style: dotted; border-width: 8px;">
  <br>
  </div>
<div class="bottom">
  <br>
  <p>Go to:</p>
  <a href="index.html"><img src="home-run.png" alt="HOME" height="24px" width="24px"></a>
  <a href="contacts.html"><img src="cont1.png" alt="Contact" height="24px" width="24px"></a>
  <a href="enquiry.html"><img src="enquiry.png" alt="Enquiry" height="24px" width="24px"></a>
</div>

</body>
