<link rel="stylesheet" href="stylecont.css">
<body>

<div class="top">


<h2><strong><u>Contact Details</u></strong></h2>
    <br>
</div>

<div class="middle">
  <br>
<strong><p>Address:-</p></strong>
<p>Basant Vihar colony, <br> Harmu, Ranchi, Jharkhand <br>PIN - 834002</p>
<strong><p>Mobile No. :-</p></strong>
<ul>
  <li>+91-7004933850 </li>
  <li>+91-7763072321</li>
</ul>
<strong><p>E-mail :-</p></strong>
<ul>
  <li> singh.anurag0310@gmail.com</li>
  <li>1928216@kiit.ac.in </li>
</ul>
<br>
<br>

  <hr style=" border-color: #FFB6B6; width: 20%; border-style: none; height: 1px; border-top-style: dotted; border-width: 8px;">
<br>
</div>
<div class="bottom">
  <br>
  <p>Go to:</p>
  <a href="index.html"><img src="home-run.png" alt="HOME" height="24px" width="24px"></a>
  <a href="enquiry.html"><img src="enquiry.png" alt="Enquiry" height="24px" width="24px"></a>
  <a href="achievement.html"><img src="goal.png" alt="Achievements" height="24px" width="24px"></a>

</body>
