<link rel="stylesheet" href="styleenq.css">
<body>
  <div class="top">
    <h2><strong><u>Enquiry Section</u></strong></h2>
        <br>
  </div>
  <div class="middle">
    <br>
    <form action="mailto:mailto:1928216@kiit.ac.in" method="post" enctype="text/plain">
      <strong><p>For any query you can fill the form below:-</p></strong>
      <label>Your Name: </label>
      <input type="text" name="Name " value=""><br>
      <label>Gender: Male</label>
      <input type="checkbox" name="Male" value="">
      <label>Female</label>
      <input type="checkbox" name="Female" value=""><br>
      <label>DOB:</label>
      <input type="date" name=""><br>
      <label>Email: </label>
      <input type="email" name="" value=""><br>
      <label>Your Message:</label><br>
      <textarea name="name" rows="8" cols="30"></textarea><br>
      <label>Attach file: </label>
      <input type="file" name="" value=""><br>
      <input type="submit" name="">
    </form>
        <hr style=" border-color: #204051; width: 20%; border-style: none; height: 1px; border-top-style: dotted; border-width: 8px;">
    <br>
  </div>
<div class="bottom">
  <p>Go to:</p>
  <a href="index.html"><img src="home-run.png" alt="HOME" height="24px" width="24px"></a>
  <a href="contacts.html"><img src="cont1.png" alt="Contact" height="24px" width="24px"></a>
  <a href="achievement.html"><img src="goal.png" alt="achievement" height="24px" width="24px"></a>
  </body>
</div>
