p{
  line-height: 2;
}
.top{
  background-color: #E4F5F9;
 position: relative;
  padding: 50px;

}
.middle-container{
  margin: 100px auto 50px;
}
.bottom-container{
  padding: 50px 0 20px;
  background-color: #66bfbf;
  margin: 50px 0 0 0;
}
.intro{
  width: 30%;
  margin: auto;
}
body{
  margin: 0;
 text-align: center;
 color: #40514E;
 font-family: 'Merriweather', serif;
}
a{
  margin: 10px;
  text-decoration: none;
}
li{
  font-family: 'Montserrat', sans-sans-serif;
  line-height: 2;
}
h1{
  font-size: 70px;
  font-family: 'Sacramento', cursive;
  color: #1EB2A6;
  margin: 50px auto 0 auto;
}
.ct{
  width: 40%;
  margin: 40px auto 60px;
}
.h1b{
  margin-top: 0;
  font-size: 22px;
  font-style:'Bookman old style', cursive;
    color: #1EB2A6;
  font-weight: normal;
}
.ulhoz{
       text-align: left;
       margin: auto 350px;
}
.hlo{
  font-family: cursive;
  font-size: 120%;
}
h2{
  font-family:  cursive;
  font-size: 180%;
  padding: 10px;
  color: #116979;
}
h3{
  color: #11999E;
  font-family: cursive;
    font-size: 120%;
}
.bottom-cloud{
  position: absolute;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
hr1{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
.top-cloud{
  position: relative;
  left: 200px;
  top: 40px;
}

.p2{
  font-size: 16px;
  color: #EAF6F6;
  font-family: 'Bookman old style', cursive;
}


.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}



.cpright{
  color: #EAF6F6;
}
