body{
  margin: 0;
  border: 0;
}
.top{
  background-color: #424874;
}
h2{
  text-align: center;
  font-family: cursive;
  color: #A6B1E1;
  font-size: 200%
}
 .middle{
   background-color: #F4EEFF;
   padding-left: 10px;
 }

 .bottom{
   background-color: #A6B1E1;
   padding-bottom: 25px;
 }
