body{
  margin: 0;
  font-size: 18px;
  font-style:'Bookman old style', cursive;
}
.top{
  background-color: #FFB6B6;
  margin: 0;
  border: 0;
  padding-top: 5px;
}
.middle{
  background-color: #FDE2E2;
  margin: 0;
  padding-left: 20px;
}
.logo{
  position: absolute;
}
.bottom{
  background-color: #AACFCF;
}
h2{
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  color: #EB4559;
  text-align: center;
  
}
