body{
  margin: 0;
  font-size: 18px;
  font-style:'Bookman old style', cursive;
}
.top{
  background-color: #204051;
  margin: 0;
  border: 0;
  padding-top: 5px;
}
.middle{
  background-color: #F1F9F9;
  margin: 0;
  padding-left: 20px;
}

.bottom{
  background-color: #AACFCF;
}
h2{
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  color: WHITE;
  text-align: center;

}
